[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
    color: rgb(255 255 255);
    text-decoration: none;
    font-weight: bold;
}
.main-sidebar, .main-sidebar::before {
    width: 255px;
}
.navbar-dark .btn-navbar, .navbar-dark .form-control-navbar,
body:not(.layout-fixed) .main-sidebar ,[class*=sidebar-dark-], .navbar-dark {
    background-color: #ad021c !important;
    border: 1px solid #ad021c;
}
.dropdown-menu-dark {
    color: white;
    background-color: #ad021c;
    border-color: #ad021c;
}
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ff9d00;
}
[class*=sidebar-dark] .btn-sidebar, [class*=sidebar-dark] .form-control-sidebar {
    background-color: #ff9d00 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ff9d00;
    color: black;
    /* text bold */
    font-weight: bold;
}
/*[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(130,56,186,.1);
    color: #fff;
}*/
.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}
.btn-outline-primary, a, .text-primary {
    color: #ad021c;
    border-color: #ad021c !important;
}
.btn-primary, .bg-primary {
    color: #fff !important;
    background-color: #ad021c !important;
    border-color: #ad021c !important;
}
.nav-pills .nav-link:not(.active):hover {
    color: white;
}
.anchor:hover{
    color: #ff9d00;
}
.table-dark {
    --bs-table-bg: #ad021c;
    --bs-table-striped-bg: #ad021c;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #ad021c;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #ad021c;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #ad021c;
}
.btn-success {
    background-color: #ad021c;
  }