* {
  padding: 0;
  margin: 0;
}

:root {
  --yellowish: #E49700;
  --blueish: #0056D2;
}

.text-gray {
  color: #6c757d;
}

.topbar-bg {
  background-color: #0056D2;
}

.btn-yellow {
  background-color: var(--yellowish) !important;
}

.btn-blue {
  background-color: var(--blueish) !important;
}

.card-icon {
  box-sizing: border-box;
  width: 80px;
  background-color: #0056D2;
  color: white;
  padding: 20px 8px;
  border-radius: 16px;
  opacity: 1;
}
/* .card-icon:hover{
  box-sizing: border-box;
  width: 80px;
  padding: 20px 8px;
  border-radius: 16px;
  color: #0056D2;
  background-color: white;
  opacity: 1;
  background-color: w;
  transition: background-color 0.3s ease;
} */
/* .card-icon-blue {

  box-sizing: border-box;
  width: 80px;
  color: white;
  padding: 20px 8px;
  border-radius: 16px;
  background: white;
  opacity: 1;

} */
#cardIconId{
  margin-right: 30px;
}

#homeId {
  top: 66px;
  left: 776px;
  width: 83px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #0056D2;
  opacity: 1;
  /* font-weight: 700; */
}

/* #feature_hover {
  background-color: white;
  padding: 10px;
  transition: background-color 0.3s ease;
} */
#feature_hover h6{
  color: #0056D2;
}
#feature_hover:hover .list-group-item {
  background-color: white;
}
#feature_hover:hover{
  background-color: #0056D2;
  color: white;
  /* transition: background-color 0.3s ease; */
}
#feature_hover:hover h6{
  color: white;
}
#feature_hover:hover .list-group-item {
  background-color: #0056D2;
  color: white;
  
}
#feature_hover:hover .card-icon{
  background-color: white;
  color: #0056D2;
}

#featuresId {
  top: 66px;
  left: 776px;
  width: 83px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}

#aboutUsId {
  /* Layout Properties */
  top: 66px;
  left: 900px;
  width: 86px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}

#pricingId {
  top: 66px;
  left: 1028px;
  width: 66px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}

#requestFeaturesId {
  top: 66px;
  left: 1136px;
  width: 79px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}

#contactUsId {
  top: 66px;
  left: 1256px;
  width: 100px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}

#faqID {
  top: 66px;
  left: 1374px;
  width: 39px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #14171C;
  opacity: 1;
}
#price_cards{
  border-radius: 30px;
}
.overlay_menu {
  position: absolute;
  background-color: var(--yellowish);
  height: 3px;
  bottom: 0;
  width: 60%;
  right: 12px;
  left: 12px;
}

.customize__absolute__text {
  left: 0;
  top: 140px;
  right: 50%;
}

.customize__absolute__text h1 {
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 1.9;
}

.hero_bg_img {
  /* background-image: url(../img/bg_3.png); */
  height: 600px;
  background-repeat: round;
  background-size: cover;
  background-color: #ECF5FF;
}

/* .about_curved_bg {
  /* background-image: url(../img/bg_4.png); */
  height: 600px;
  background-repeat: round;
  background-size: cover;
  background-color: white;
} */

.customize__absolute__text p {
  /* padding-right: 150px; */
  margin-top: 20px;
  line-height: 1.8;
}

.customize__absolute__img {
  top: 90px;
  right: 0;
  height: 500px;
  width: 550px;
}

.ml-4 {
  margin-left: 1rem
}
/* Main Content Statrted */
/* Seection Features */
.bg_main_content {
  background-color: white;
}

.bg_main_content_yellowish {
  background-color: var(--blueish);
}



.header_background_text h1 {
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  color: #b7b7b75c;
}

.section_heder_here {
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_background_text h1 {
  text-transform: uppercase;
}

.section_heder_here h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 4px solid #b7b7b75c;
}

.section_header_bottom_border {
  top: 58px;
  height: 4px;
  background-color: var(--yellowish);
  width: 80px;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* cards */
.cards-here {
  border-radius: 30px;
  box-shadow: 8px 8px 18px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
}

.cards-here:hover {
  border-color: var(--yellowish);
}

.cards-here:hover i {
  background-color: var(--yellowish);
  color: white;
}

.cards-here:hover h3 {
  color: var(--yellowish);
}

.cards-here i {
  font-size: 40px;
  padding: 14px 18px;
  border: 2px solid var(--yellowish);
  color: var(--yellowish);
  border-radius: 50px;
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.19);
}

.cards-here h3 {
  font-weight: 700;
}

.cards-here p {
  line-height: 1.8;
  color: #737272;
  font-weight: 500;
  font-size: 19px;
}

/* SECTION ABOUT */
.section-about .col-lg-7.col-md-7 {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 8px 8px 18px 8px rgba(0, 0, 0, 0.05);
}

.section-about .col-lg-5.col-md-5 {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 8px 8px 18px 8px rgba(0, 0, 0, 0.05);
}

.section-about h1 {
  font-weight: 700;
  font-size: 50px;
}

.section-about p {
  line-height: 1.8;
  color: #737272;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 0px;
}

/* SECTION SUBSCRIPTION */

.sub_onhover {
  border: 2px solid white;
}

.sub_onhover:hover {
  border: 2px solid var(--yellowish);
}

.sub_onhover:hover button {
  background-color: var(--yellowish);
  border: 1px solid var(--yellowish);
  color: white;
  cursor: pointer;
}

.subscration_card {
  cursor: pointer;
  border-radius: 15px;
}

.section-Subscription button {
  border: 1px solid var(--yellowish);
  width: 100%;
  border-radius: 15px;
  color: var(--yellowish);
}

.customize_top_subscription {
  top: 0px;
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  background-color: #f7f7f7;
}

.customize_top_subscription button {
  color: white;
  border: 1px solid var(--pinkish);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 30px;
  background-color: var(--pinkish);
}

/* Section Reviews */
.reivews_borders {
  background-color: #6920a8ba;
}

.reivews_borders {
  border: 1px solid white;
  border-radius: 15px;
}

.review_hover_effect:hover .reivews_borders {
  border: 1px solid var(--yellowish);
}

.review_hover_effect:hover h3 {
  color: var(--yellowish);
}

.agent_img img {
  border-radius: 50px;
}

/* Contact US */
.contact_form input {
  height: 55px;
  background-color: #FFF;
}

.contact_form textarea {
  background-color: #FFF;
}

.contat_info {
  padding-left: 20px;
}

.contat_info p {
  line-height: 1.5;
  /* color: #737272; */
  color: white;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.contat_info i {
  background-color: #E5F2FF;
  border: 1px solid #0056D2;
  text-align: center;
  border-radius: 40px;
  color: #0056D2;
  margin-top: 50px;
  
}

@media screen and (min-width:1100px) and (max-width: 1400px) {
  .customize__absolute__text {
    top: 100px;
  }

  .section-about p {
    line-height: 1.3;
  }
}

@media screen and (max-width:767px) {

  .customize_for_mob {
    margin-top: 101px !important;
  }

  .customize__absolute__img {
    top: 350px;
    right: 0;
    height: 200px;
    width: 250px;
  }

  .navbar.fixed-top.navbar-bg {
    border-bottom: 3px solid var(--yellowish);
  }

  .header_background_text h1 {
    font-size: 55px;
  }

  .customize__absolute__text h1 {
    font-size: 35px;
  }

  .hero_bg_img {
    background-repeat: no-repeat;
  }

  .customize__absolute__text p {
    padding-right: 0px;
    margin-top: 10px;
    line-height: 1.2;
  }

  .customize__absolute__text {
    left: 0;
    top: 30px;
    right: 0;
  }

  .overlay_menu {
    display: none !important;
  }

  .nav-item .nav-link.active {
    color: var(--yellowish) !important;
  }

  .customize_mob_menu {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .contat_info {
    padding-left: 0px;
  }
}

@media screen and (max-width: 340px) {
  .section_heder_here {
    width: 100%;
    text-align: center;
  }

  .header_background_text h1 {
    font-size: 35px;
  }

  .section_heder_here h3 {
    font-size: 25px;
  }
}